<div class="mi-color">
    <h1>Custom Pipes</h1>
    <p>Pipes created by {{'us' | mayusculas:inMayus}}</p>

    <button pButton type="button" label="Change to Uppercase" (click)="inMayus = !inMayus"></button>
</div>


<div class="mi-color">
    <h2>Another Example</h2>

    <!-- OTRA FORMA DE USAR LOS BOTONES, CON P-BUTTON, NOTESE QUE CAMBIAN LOS ATRIBUTOS CUANDO SE USA DE ESTA MANERA -->
    <div class="">
        <div class="p-col p-col-md-12">
            <p-toolbar>
                <div class="p-toolbar-group-left"></div>
                
                <div class="p-toolbar-group-right">
                    <p-button label="By Name"
                              icon="pi pi-sort"
                              styleClass="p-button-warning p-mr-1"
                              (click)=" typeSort='byname' ">
                    </p-button>
                    <p-button label="By Fly"
                              icon="pi pi-sort"
                              styleClass="p-button-success p-mr-1"
                              (click)=" typeSort='byfly' ">
                    </p-button>
                    <p-button label="By Color"
                              icon="pi pi-sort"
                              styleClass="p-button-danger"
                              (click)=" typeSort='bycolor' ">
                    </p-button>
                </div>
            </p-toolbar>
        </div>
    </div>


    <!-- Tabla que se ordena con el pipe personalizado sort -->
    <div class="p-grid p-mt-2">
        <div class="p-col p-col-md-12">
            <p-table [value]="heroes | sort:typeSort">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Fly</th>
                        <th>Color</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hero>
                    <tr>
                        <td>{{hero.name}}</td>
                        <td>{{hero.fly | fly | titlecase}}</td>
                        <td>{{hero.color}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <!-- Tabla que se ordena gracias a componentes propios de PrimeNg -->
    <div class="p-grid p-mt-2">
        <div class="p-col p-col-md-12">
            <p-table [value]="heroes2">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="fly">Fly <p-sortIcon field="fly"></p-sortIcon></th>
                        <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hero>
                    <tr>
                        <td>{{hero.name}}</td>
                        <td>{{hero.fly | fly | titlecase}}</td>
                        <td>{{hero.color}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>
