<div class="mi-color">
    <h1>Not Commons Pipes</h1>
    <p>Pipes included in Angular - Usually in CommonModule</p>
</div>

<div class="p-grid">

    <div class="p-col p-md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>Saludos {{guestsName}}, es un placer {{genero | i18nSelect: objMapping}} a nuestro evento.</p>
            <button pButton label="Change person" class="p-button-warning" (click)="changeGuest()"></button>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>Actualmente {{clients.length | i18nPlural: objPluralMap}}.</p>
            <button pButton label="Delete client" class="p-button-danger" (click)="deleteClient()"></button>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <b>Original Array</b>
            <pre>{{clients}}</pre>

            <hr>

            <b>slice:0:2</b>
            <pre>{{clients | slice:0:2}}</pre>

            <hr>

            <b>slice:1:2</b>
            <pre>{{clients | slice:1:2}}</pre>

            <hr>

            <b>slice:2:4</b>
            <pre>{{clients | slice:2:4}}</pre>

            <hr>

            <b>Diego | slice:2</b>
            <pre>{{'Diego' | slice:2}}</pre>
            
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
            <pre>{{arrayHeroes | json}}</pre>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <ol>
                <li *ngFor="let item of myObject | keyvalue">
                    <b>{{item.key}}:</b> {{item.value}}
                </li>
            </ol>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
            <div>
                <p *ngIf="!(myObservable | async)">Esperando Observable</p>
                <pre>{{myObservable | async}}</pre>
            </div>

            <hr>

            <div>
                <p *ngIf="!(myPromise | async)">Resolviendo Promesa</p>
                <pre>{{myPromise | async}}</pre>
            </div>
        </p-fieldset>
    </div>


</div>